{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row m-top-20">
            <form method="get">
                <div class="col-md-2">
                    <input type="text" class="form-control input-sm" name="q" placeholder="search (e.g. gopro)" value="{{ q }}">
                </div>

                <div class="col-md-6">
                    <button type="submit" class="btn btn-sm btn-primary">filter</button>
                </div>
            </form>

            <div class="col-md-4 text-right">
                <div class="count">
                    Result: {{ users.getTotalItemCount }}
                </div>
            </div>
        </div>

        <div class="row m-top-20">
            {% for article in users %}
                {#{{ dump(article) }}#}
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <img src="{{ article.getProfilePicture() }}" alt="" class="img-rounded img-responsive" />
                            </div>

                            <div class="col-sm-6 col-md-8">
                                <h4>{{ article.getFullName }}</h4>
                                <small>
                                    <i class="glyphicon glyphicon-user"></i>
                                    <a href="https://www.instagram.com/{{ article.getUsername }}/" target="_blank">
                                        {{ article.getUsername }}
                                    </a>
                                </small>

                                <div>
                                    {{ article.getBio() }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-md-12 text-right">
                <div class="navigation">
                    {{ knp_pagination_render(users) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}